@import url(page_content.css);

header {
  text-align: center;
  border-style: groove;
  border-color: var(--tht_purple3);
}

header img {
  max-width: 50vw;
  height: auto;
}

article {
  border-style: groove;
  border-color: var(--tht_purple3);

  margin-top: 4px;
  margin-bottom: 4px;
  padding: 8px;
}


